.card > .card-header:last-child {
  border-bottom: none;
  border-radius: calc(.25rem - 1px);
}
.card {
  transition: background-color 0.25s, border-color 0.25s;
}
.card .list-group li.list-group-item:last-child {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-bottom-right-radius: calc(.25rem - 1px);
}
